name: Android Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Android Build
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Pull the New Commit
        uses: actions/checkout@v2

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.6

      - name: Install Libraries
        run: sh ./setup/install-haxelibs.sh

      - name: Configure Android
        run: |
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME_17_X64
          haxelib run lime config ANDROID_SETUP true 
        
      - name: Build for Android
        run: haxelib run lime build android

      - name: Upload Game
        uses: actions/upload-artifact@v4
        with:
          name: Windows Build (32 Bits)
          path: export/release/android/bin/app/build/outputs/apk/release/*.apk
          if-no-files-found: error